{% extends 'CA_base.html' %} {% block content %}
<!-- Carousel -->
<div class="mb-8">
  <div class="relative">
    <div class="overflow-hidden relative h-64">
      {% for article in top_headlines %}
      <div
        class="absolute inset-0 transition-opacity duration-1000 {% if loop.first %}opacity-100{% else %}opacity-0{% endif %}"
        id="slide{{ loop.CA_index }}"
      >
        <img
          src="{{ article.urlToImage }}"
          alt="{{ article.title }}"
          class="w-full h-64 object-cover"
        />
        <div class="absolute bottom-0 bg-black bg-opacity-50 text-white p-4">
          <h2 class="text-xl font-bold">{{ article.title }}</h2>
          <p>{{ article.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Latest News -->
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {% for article in latest_news %}
  <div class="border rounded shadow p-4">
    <img
      src="{{ article.urlToImage }}"
      alt="{{ article.title }}"
      class="w-full h-48 object-cover mb-2"
    />
    <h3 class="text-lg font-semibold">{{ article.title }}</h3>
    <p class="text-sm">{{ article.description }}</p>
    <div class="mt-2 flex justify-between items-center">
      <a
        href="{{ article.url }}"
        target="_blank"
        class="text-blue-700 hover:underline"
        >Read More</a
      >
      <form action="{{ url_for('bookmark') }}" method="post">
        <input type="hidden" name="title" value="{{ article.title }}" />
        <input type="hidden" name="url" value="{{ article.url }}" />
        <input
          type="hidden"
          name="urlToImage"
          value="{{ article.urlToImage }}"
        />
        <input
          type="hidden"
          name="description"
          value="{{ article.description }}"
        />
        <button type="submit" class="text-red-500 hover:text-red-700">
          Bookmark
        </button>
      </form>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
