{% extends "base.html" %} {% block title %}Dashboard - UPSC Aspirant{% endblock
%} {% block content %}

<div class="flex justify-center mt-36">
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 gap-10">
    {% set features = [ {"name": "Current Affairs", "url":
    url_for('current_affairs'), "color": "bg-yellow-300", "icon": "news"},
    {"name": "Syllabus", "url": url_for('syllabus_select_exam_type'), "color":
    "bg-blue-300", "icon": "clipboard"}, {"name": "PYQs", "url":
    url_for('pyq_examtype'), "color": "bg-rose-300", "icon": "open-book--v1"},
    {"name": "NCERT Books", "url": url_for('class_select'), "color":
    "bg-green-400", "icon": "books"}, {"name": "Static GK", "url": "static_gk",
    "color": "bg-fuchsia-300", "icon": "light-on"}, {"name": "CSAT Practice",
    "url": url_for('csat'), "color": "bg-violet-300", "icon": "book-shelf"},
    {"name": "Interview Prep", "url": "interview_index", "color":
    "bg-orange-300", "icon": "microphone"}, {"name": "Latest Updates", "url":
    url_for('latest_updates'), "color": "bg-cyan-300", "icon":
    "appointment-reminders--v1"} ] %} {% for feature in features %}
    <a href="{{ feature.url }}" class="block">
      <div
        class="{{ feature.color }} p-4 rounded-2xl shadow-md text-center w-[220px] h-[220px] flex flex-col items-center justify-center hover:scale-105 hover:shadow-lg transition-all"
      >
        <img
          src="https://img.icons8.com/ios-filled/60/{{ feature.icon }}.png"
          class="mb-3"
        />
        <p class="font-semibold text-base">{{ feature.name }}</p>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

{% endblock %}
