<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md">
      <h2 class="text-2xl font-bold mb-4">Welcome to Your Dashboard</h2>
      <div class="grid grid-cols-2 gap-4">
        <a
          href="/current_affairs"
          class="block bg-teal-500 text-white p-4 rounded text-center"
          >Current Affairs</a
        >
        <a
          href="/static_gk"
          class="block bg-teal-500 text-white p-4 rounded text-center"
          >Static GK</a
        >
        <a
          href="/syllabus"
          class="block bg-teal-500 text-white p-4 rounded text-center"
          >UPSC Syllabus</a
        >
        <a
          href="/generate_quiz"
          class="block bg-teal-500 text-white p-4 rounded text-center"
          >Mock Tests</a
        >
        <a
          href="/previous_papers"
          class="block bg-teal-500 text-white p-4 rounded text-center"
          >Previous Papers</a
        >
        <a
          href="/ncert_index"
          class="block bg-teal-500 text-white p-4 rounded text-center"
          >NCERT Books</a
        >
      </div>
    </div>
  </body>
</html>
