<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    {% extends "pyq_base.html" %} {% block content %}
    <div class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow-md">
      <h2 class="text-2xl font-semibold mb-4">
        Papers for {{ year }} - {{ exam | capitalize }}
      </h2>
      <ul class="space-y-2">
        {% for paper, url in papers.items() %}
        <li
          class="bg-blue-100 text-blue-800 px-4 py-2 rounded-lg flex justify-between items-center"
        >
          <span>{{ paper | replace('_', ' ') | title }}</span>
          <a
            href="{{ url }}"
            download
            class="bg-blue-600 text-white px-4 py-1 rounded-lg hover:bg-blue-700 transition duration-300"
          >
            Download
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endblock %}
  </body>
</html>
