{% extends "base.html" %} {% block title %}Dashboard - UPSC Aspirant{% endblock
%} {% block content %}
<div class="bg-gray-100 min-h-screen py-10">
  <div class="container mx-auto px-6">
    <!-- Back Button and Heading -->
    <div class="flex items-center justify-center relative mb-12">
      <a
        href="{{ url_for('pyq_papertype', exam_type=exam_type) }}"
        class="w-12 h-12 bg-white text-red-600 hover:bg-red-200 rounded-full flex items-center justify-center shadow transition-colors absolute left-0"
      >
        <i class="fas fa-arrow-left"></i>
      </a>

      <h1 class="text-4xl font-extrabold text-black text-center">
        Previous Year Questions (PYQ)
      </h1>
    </div>

    <!-- Sub Heading -->
    <div class="mb-16 text-2xl font-semibold text-black text-center ml-12">
      <h2 class="text-3xl font-bold text-black">
        {{ exam_type }} - {{ paper_type }} - Select Year
      </h2>
    </div>

    <!-- Items in Grid -->
    <div
      class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-1 justify-center"
    >
      {% for year in years %}
      <a
        href="{{ url_for('pyq_final', exam_type=exam_type, paper_type=paper_type, year=year) }}"
      >
        <div
          class="w-48 h-40 border-2 border-red-400 bg-white p-4 rounded-2xl shadow-md cursor-pointer text-center flex items-center justify-center transition-all duration-300 hover:bg-red-400 hover:text-white hover:scale-105"
        >
          <h3 class="text-lg font-bold">{{ year }}</h3>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
